<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <script defer data-domain="bili.watch" src="https://analytics.ktachibana.party/js/plausible.js"></script>
</head>
<body>
<h3>{{.Title}}</h3>
<video class="video" controls>
    <source src="{{.VideoUrl}}" type="video/mp4">
    Your browser does not support the video tag.
</video>
<style>
    body {
        margin: 0;
    }

    .video {
        width: 100%;
    }
</style>
</body>
</html>